<title>Kadir Code | {{member.user.username}}</title> <br><br> <div class="container">
    <div>

      <center>
      <a href="https://discordapp.com/users/{{member.user.id}}" class="twPc-avatarLink">
        <img alt="Avatar" src="{{avatarURL}}" class="twPc-avatarImg">
      </a>
      <div class="twPc-divUser">
        <div class="twPc-divName">
          {{member.user.username}}
        </div>

        
        <div class="twPc-divStats">
        <ul class="twPc-Arrange">
          <a href="/Java" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Java Kodlar</a>
          {{#if perms.yetkili}}
       <a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Python Kodlar</a>
       <a href="/Arduino" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Arduino Kodlar</a>
       <a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> JavaScript Sistemler</a>
          {{else}}
            {{#if perms.destekçi}}
            <a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Python Kodlar</a>
            <a href="/Arduino" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Arduino Kodlar</a>
            <a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> JavaScript Sistemler</a>
            {{else}}
              {{#if perms.altin}}
            <a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Python Kodlar</a>
              {{/if}}
              {{#if perms.Arduino}}
            <a href="/Arduino" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Arduino Kodlar</a>
              {{/if}}
              {{#if perms.hazir}}
           <a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> JavaScript Sistemler</a>
              {{/if}}
            {{/if}}
          {{/if}}  
        </ul>
      </div>
        
<hr>
                <span>
          {{#if perms.yetkili}}
            <span>Kod Paylaşım Yetkilisi</span>
          {{else}}
            {{#if perms.destekçi}}
              <span>Kadir Code Destekçisi</span>
            {{else}}
              <span>Kullanıcı</span>
            {{/if}}
          {{/if}}
        </span>
    </div>
        
        Paylaştığı Kodlar <font color="red">&</font> Yardım Ettiği Kodlar ( <font color="#0069d9">{{#if stats}} {{stats.paylasilan}} {{/if}} </font> )

  </div>
      </center>
</div>

